{% extends 'base.html.twig' %}
{% block body %}
    <div class="flex-center">
        <div class="part-2 left"><h1>Commands</h1></div>
        <div class="part-2 right" style="margin-right: 15px">
            <button><a class="white button" href="{{ path('command.create') }}">Add new command</a></button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Command</th>
            <th>Section</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.name }}</td>
                <td>{{ command.section.name }}</td>
                <td>{{ command.example }}</td>
                <td>
                    <div class="flex-center">
                        <a href="{{ path('command.update', {'id': command.id}) }}"><i class="fas fa-edit icon"></i></a>
                        <div  style="background: transparent;border: none;padding: 5px"><b> <i class="fas fa-trash-alt icon"></i></b></div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}