{% extends 'base.html.twig' %}

{% block body %}
    {{ render(path('command.nav.menu')) }}
    {% if pagination.getItems|length > 0 %}
        <div>
            <div class="flex-center table-align">
                <div class="part-2 left white"><h1>All Commands</h1></div>
                <div class="part-2 right" style="margin-right: 15px">
                    <button><a class="white button" href="{{ path('command.create') }}">Add new command</a></button>
                </div>
            </div>
            <table class="table table-align table-responsive">
                <thead style="background-color: rgba(0, 0, 139, .8)">
                    <th>Name</th>
                    <th>Section</th>
                    <th>Command</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                {% for command in pagination %}
                    <tr>
                        <td>{{ command.name }}</td>
                        <td>{{ command.section.name }}</td>
                        <td>
                            <div class="flex-center">
                                <input type="text" class="search-input" width="300px" id="{{ loop.index }}"
                                       value="{{ command.example }}">
                                <div class="">
                                    <img width="16px" style="margin-top: 15px" height="16px"
                                         data-row-id="{{ loop.index }}" src="{{ asset('build/images/copy.png') }}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex-center">
                                <div style="margin-top: 2px;padding-right: 20px">
                                    <a href="{{ path('command.update', {'id': command.id, 'section': command.section.id}) }}">
                                        <svg width="15" height="15">
                                            <use xlink:href="#edit-icon"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div>
                                    <svg width="20" height="20">
                                        <use xlink:href="#trash-icon"></use>
                                    </svg>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="main-block white table-align not-found-block"><h2 style="margin-top: auto">No commands found</h2>
        </div>
    {% endif %}
    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
{% endblock %}
