{% extends 'base.html.twig' %}
{% block body %}
    {{ render(path('command.nav.menu')) }}
    <div class="flex-center table-align">
        <div class="part-2 left white"><h1>{{ section.name|capitalize }} Commands</h1></div>
        <div class="part-2 right" style="margin-right: 15px">
            <button><a class="white button" href="{{ path('command.create',{'section': section.id}) }}">Add new
                    command</a></button>
        </div>
    </div>
    {% if pagination.getItems|length > 0 %}
        <table class="table table-align">
            <thead>
            <tr>
                <th>Name</th>
                <th>Command</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for command in pagination %}
                <tr>
                    <td>{{ command.name }}</td>
                    <td>
                        <div class="flex-center">
                            <input type="text" class="search-input" width="300px" id="{{ loop.index }}"
                                   value="{{ command.example }}">
                            <div>
                                <img width="16px" style="margin-top: 15px" height="16px" data-increase-command-rank-url="{{ path('api.v1.rank.increase',{'id': command.id}) }}" data-row-id="{{ loop.index }}"
                                     src="{{ asset('build/images/copy.png') }}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="flex-center">
                            <div style="margin-top: 2px;padding-right: 20px">
                                <a href="{{ path('command.update', {'id': command.id, 'section': command.section.id}) }}">
                                    <svg width="15" height="15">
                                        <use xlink:href="#edit-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div data-delete-command-url="{{ path('api.v1.command.delete', {'id': command.id}) }}"><b>
                                    <svg width="20" height="20">
                                        <use xlink:href="#trash-icon"></use>
                                    </svg>
                                </b>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="main-block white table-align not-found-block"><h2 style="margin-top: auto">No commands found</h2>
        </div>
    {% endif %}
    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    {{ encore_entry_script_tags('copy') }}
    {{ encore_entry_script_tags('command') }}
{% endblock %}
