<div class="menu-main table-align">
    <ul class="left">
        <li><a href="{{ path('command.list') }}"
               class="menu-item">All</a></li>
        {% for section in sections %}
            <li><a href="{{ path('command.section.list',{'section_id': section.id}) }}"
                   class="menu-item">{{ section.name|capitalize }}</a></li>
        {% endfor %}
    </ul>
    <div class="right">
        <a href="#" style="padding-right: 15px">
            <svg  width="40" height="40">
                <use xlink:href="#alarm"></use>
            </svg>
        </a>
    </div>
</div>
<div class="menu-main table-align">
    <ul>
        <li><a href="{{ path('links.list') }}"
               class="btn btn-large">Links</a></li>
        <li><a href="{{ path('command.list') }}"
                    class="btn btn-large">Notes</a></li>
    </ul>
</div>



